/* CSS for CohortAPIXblock */

.cohort_api_xblock_block .count {
    font-weight: bold;
}

.cohort_api_xblock_block p {
    cursor: pointer;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
